<div class="col-lg-10 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Order Management</h4>
      <div class="table-responsive pt-3">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>User Name</th>
              <th>Order Id</th>
              <th>Total Quantity</th>
              <th>Order Placed On</th>
              <th>View More</th>

            </tr>
          </thead>
          <tbody>

            <% const getDate=(date)=>{
                            let orderDate = new Date(date)

                            let day = orderDate.getDate();
                            let month = orderDate.getMonth();
                            let year = orderDate.getFullYear();

                            return `${isNaN(day)?00:day}-${isNaN(month)?00:month}-${isNaN(year)?0000:year}`

                            } %>


            <% orders?.forEach((element,index)=> { %>
            <tr>
              <td>
                <span class="h-4 mb-2"><%- element?.orders?.fname %></span>
                <br>
                ID:<%- element?.userId %>
              </td>
              <td>ID : <%-element.orders?._id %></td>
              <td><%=element?.orders?.totalQuantity %></td>
              <td>
                <%- getDate(element.orders?.createdAt) %>
              </td>
              <td><a href="/admin/order-view-more/<%-element?.orders?._id %>" style="text-decoration:none;">View More</a></td>

            </tr>
            <% })%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<script>
  function cancelOrder(orderId, prodId) {
    $.ajax({
      url: '/admin/admin-cancel-order',
      method: 'POST',
      data: {
        orderId: orderId,
        prodId: prodId
      },
      beforeSend: () => {
        return confirm('Are you sure want to cancel this order?')
      },
      success: (data) => {
        if (data.status) {
          window.location.reload()
        }
      }
    })
  }
</script>