<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Users Management</h4>
      <!-- <p class="card-description">
          Add class <code>.table-striped</code>
        </p> -->
      <a type="button" href="/admin/add-users" class="btn btn-success btn-sm btn-icon-text btn-icon-prepend">
        Add Users
      </a>
      <div class="table-responsive">


        <input type="text" class="col-md-10 mt-3 mb-3 " style="height:40px;" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

        <table class="table table-striped" id="myTable">
          <thead>
            <tr>
              <th>
                #
              </th>
              <th>
                First name
              </th>
              <th>
                Mobile
              </th>
              <th>
                Email
              </th>
              <th>
                Block/Unblock
              </th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach((users,index)=>{ %>
              <tr>
                <td class="py-1">
                  <%- index+1 %>
                </td>
                <td>
                  <%- users.name %> <br>
                </td>
                <td>
                  <%- users.mobile %>
                </td>
                <td>
                  <%- users.email %>
                </td>
                <td>

                  <% if (users.blocked){%>

                    <a type="button" href="/admin/user-unblock/<%- users._id %> "
                      class="btn btn-danger btn-sm btn-icon-text  btn-icon-prepend"
                      onclick="return confirm('are you sure want to unblock <%- users.name  %> ?')">
                      Unblock
                    </a>

                    <% }else{ %>

                      <a type="button" href="/admin/user-block/<%- users._id %>"
                        class="btn btn-success btn-sm btn-icon-text btn-icon-prepend"
                        onclick="return confirm('are you sure want to block <%- users.name %>')">
                        block
                      </a>

                      <% } %>

                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<script>
  function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>