<main class="main">
  <div class="page-header text-center" style="background-image: url('images/page-header-bg.jpg')">
    <div class="container">
      <h1 class="page-title">Checkout<span>Shop</span></h1>
    </div><!-- End .container -->
  </div><!-- End .page-header -->

  <div class="page-content mt-4">
    <div class="checkout">
      <div class="container">
        <div class="h-6 my-5">

          <% address[0]?.address?.forEach((element,index)=>{ %>
          <div class="card">
            <div class="card-header" id="heading-3">
              <h2 class="card-title">
                <input type="radio" name="address" onclick="autoFill('<%- element._id %>')" data-toggle="collapse" href="#collapse-<%-index+1%>" aria-expanded="false">
                <label for="Cash on Delivery">
                  <%- element.fname %>
                  <%- element.lname %>
                </label>
              </h2>
            </div><!-- End .card-header -->
            <div id="collapse-<%-index+1%>" class="collapse" aria-labelledby="heading-<%-index+1%>" data-parent="#accordion-payment">
              <div class="card-body">
                <%- element.fname %>
                <%- element.lname %> <br>
                <%- element.email %> <br>
                <%= element.mobile %> <br>
                <%- element.street %>
                <%- element.appartment %>
                <%-element.city%>
                <%-element.state%> <br>
                <%-element.pincode%>
              </div><!-- End .card-body -->
            </div><!-- End .collapse -->
          </div><!-- End .card -->
          <% }) %>
        </div><!-- End .custom-checkbox -->
        <form action="#">
          <div class="row">
            <div class="col-lg-9">
              <h2 class="checkout-title">Shipping Address</h2><!-- End .checkout-title -->
              <div class="row">
                <div class="col-sm-6">
                  <div class="d-flex">
                    <label class=" w-25">First Name *</label>
                    <p class="text-danger d-flex justify-content-end w-75"></p>
                  </div>
                  <input type="text" class="form-control" id="fname" name="first name">
                </div><!-- End .col-sm-6 -->

                <div class="col-sm-6">
                  <div class="d-flex">
                    <label class=" w-25">Last Name *</label>
                    <p class="text-danger d-flex justify-content-end w-75"></p>
                  </div>
                  <input type="text" class="form-control" id="lname" name="last name">
                </div><!-- End .col-sm-6 -->
              </div><!-- End .row -->

              <label>Company Name (Optional)</label>
              <input type="text" class="form-control" id="companyName">

              <div>
                <div class="d-flex">
                  <label class=" w-25">Street Address *</label>
                  <p class="text-danger d-flex justify-content-end w-75"></p>
                </div>
                <input type="text" class="form-control" placeholder="House number and Street name" id="street" name="house number">
              </div>
              <div>
                <p id="err2" class="text-danger"></p>
                <input type="text" class="form-control" placeholder="Appartments, suite, unit etc ..." id="apartment" name="appartment">
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <div class="d-flex">
                    <label class=" w-25">Town / City *</label>
                    <p class="text-danger d-flex justify-content-end w-75"></p>
                  </div>
                  <input type="text" class="form-control" id="city" name="city">
                </div><!-- End .col-sm-6 -->

                <div class="col-sm-6">
                  <div class="d-flex">
                    <label class=" w-25">State *</label>
                    <p class="text-danger d-flex justify-content-end w-75"></p>
                  </div>
                  <select class="form-control " id="state">

                    <% locals?.states?.forEach((element)=>{ %>
                    <option class="text-dark">
                      <%-element.name%>
                    </option>
                    <% }) %>
                  </select>
                </div><!-- End .col-sm-6 -->
              </div><!-- End .row -->

              <div class="row">
                <div class="col-sm-6">
                  <div class="d-flex">
                    <label class=" w-25">Pincode/ZIP*</label>
                    <p class="text-danger d-flex justify-content-end w-75"></p>
                  </div>
                  <input type="text" class="form-control" id="pincode" name="pincode">
                </div><!-- End .col-sm-6 -->

                <div class="col-sm-6">
                  <div class="d-flex">
                    <label class=" w-25">Phone *</label>
                    <p class="text-danger d-flex justify-content-end w-75"></p>
                  </div>
                  <input type="tel" class="form-control" id="mobile" name="phone">
                </div><!-- End .col-sm-6 -->
              </div><!-- End .row -->

              <div>
                <div class="d-flex">
                  <label class=" w-25">Email address *</label>
                  <p class="text-danger d-flex justify-content-end w-75"></p>
                </div>
                <input type="email" class="form-control" id="email" name="email">
              </div>
            </div><!-- End .col-lg-9 -->
            <aside class="col-lg-3">
              <div class="summary">
                <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                <table class="table table-summary">
                  <thead>
                    <tr>
                      <th>Product</th>
                      <th>Total</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td><a href="#">Beige knitted elastic runner shoes</a></td>
                      <td>$84.00</td>
                    </tr>

                    <tr>
                      <td><a href="#">Blue utility pinafore denimdress</a></td>
                      <td>$76,00</td>
                    </tr>
                    <tr class="summary-subtotal">
                      <td>Subtotal:</td>
                     <td>₹ <%-total %>
                    </tr><!-- End .summary-subtotal -->
                    <tr>
                      <td>
                        <div class="checkout-discount">
                          <form action="#">
                          <div class="cart-discount">
                              <div class="input-group">
                                <input type="text" class="form-control " autocomplete="off" required id="code" placeholder="coupon code">
                                <div class="input-group-append">
                                  <button class="btn btn-sm btn-outline-primary" style="width:3em; height: 3em;" type="button" onclick="couponValidator(this,'<%=total%>')"><i class="icon-long-arrow-right"></i></button>
                                </div><!-- .End .input-group-append -->
                              </div><!-- End .input-group -->
                            </form>
                            <p id="couponErr"></p>
                          </div><!-- End .cart-discount -->
                        </div><!-- End .checkout-discount -->
                      </td>
                    </tr>
                    <tr>
                      <td>Shipping:</td>
                      <td>Free shipping</td>
                    </tr>
                    <tr class="summary-total">
                      <td>Total:</td>
                      <td id="couponTotal">₹ <%-total %></td>
                    </tr><!-- End .summary-total -->
                  </tbody>
                </table><!-- End .table table-summary -->

                <h2 class="card-title my-2">
                  <input type="radio" name="payment" data-toggle="collapse" href="#collapse-3" id="COD" aria-expanded="false" aria-controls="collapse-3" value="COD" checked>
                  <label for="Cash on Delivery">Cash On Delivery</label>
                </h2>

                <h2 class="card-title my-2">
                  <input type="radio" name="payment" data-toggle="collapse" href="#collapse-3" id="razorpay" aria-expanded="false" aria-controls="collapse-3" value="razorpay" checked>
                  <label for="razorpay">Razorpay</label>
                </h2>

                <h2 class="card-title my-2 mb-3">
                  <input type="radio" name="payment" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3" value="paypal" checked>
                  <label for="paypal">Paypal</label>
                  <div id="paypal"></div>
                </h2>

                <button type="button" onclick="validation()" class="btn btn-outline-primary-2 btn-order btn-block">
                  <span class="btn-text">Place Order</span>
                  <span class="btn-hover-text">Proceed to Checkout</span>
                </button>
              </div><!-- End .summary -->
            </aside><!-- End .col-lg-3 -->
          </div><!-- End .row -->
        </form>
      </div><!-- End .container -->
    </div><!-- End .checkout -->
  </div><!-- End .page-content -->
</main><!-- End .main -->



<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
  function validation() {

    const firstName = document.getElementById('fname')
    const firstNameValue = firstName?.value.trim()
    const firstNameErr = firstName.parentElement.querySelector('p')
    firstNameErr.innerText = ""

    const lastName = document.getElementById('lname')
    const lastNameValue = lastName?.value.trim()
    const lastNameErr = lastName.parentElement.querySelector('p')
    lastNameErr.innerText = ""

    const companyName = document.getElementById('companyName')
    const companyNameValue = companyName?.value.trim()

    const address = document.getElementById('street')
    const addressValue = address?.value.trim()
    const addressErr = address.parentElement.querySelector('p')
    addressErr.innerText = ''

    const appartment = document.getElementById('apartment')
    const appartmentValue = appartment?.value.trim()
    const appartmentErr = appartment.parentElement.querySelector('p')
    appartmentErr.innerText = ''

    const city = document.getElementById('city')
    const cityValue = city?.value.trim()
    const cityErr = city.parentElement.querySelector('p')
    cityErr.innerText = ""

    const stateValue = document.getElementById('state').value

    const pincode = document.getElementById('pincode')
    const pincodeValue = pincode?.value.trim()
    const pincodeErr = pincode.parentElement.querySelector('p')
    pincodeErr.innerText = ""

    const phone = document.getElementById('mobile')
    const phoneValue = phone?.value.trim()
    const phoneErr = phone.parentElement.querySelector('p')
    phoneErr.innerText = ""

    const email = document.getElementById('email')
    const emailValue = email?.value.trim()
    const emailErr = email.parentElement.querySelector('p')
    emailErr.innerText = ""


    const paymentMethod = document.querySelector('input[name="payment"]:checked').value



    let flag = 1

    if (firstNameValue == "") {
      firstNameErr.innerText = "This field is required"
      let flag = 2
    }


    if (lastNameValue == "") {
      lastNameErr.innerText = "This field is required"
      let flag = 2
    }

    if (addressValue == "") {
      addressErr.innerText = "This field is required"
      flag = 2
    } else if (addressValue.length <= 4) {
      addressErr.innerText = "Minimum 5 character is required "
      flag = 2
    }

    if (appartmentValue == '') {
      appartmentErr.innerText = "This field is required"
      flag = 2
    } else if (appartmentValue.length <= 4) {
      appartmentErr.innerText = "Minimum 5 character is required "
      flag = 2
    }

    if (cityValue == "") {
      cityErr.innerText = "This field is required"
      flag = 2
    }

    if (pincodeValue == '') {
      pincodeErr.innerText = "This field is required"
      flag = 2
    } else if (!pincodeValue.match(/^[0-9]{6}$/)) {
      pincodeErr.innerText = "Please Enter a valid pincode"
      flag = 2
    }

    if (phoneValue == "") {
      phoneErr.innerText = "This field is required"
      flag = 2
    } else if (!phoneValue.match(/^[0-9]{10}$/)) {
      phoneErr.innerText = "Please enter a valid phone number"
      flag = 2
    }

    if (emailValue == "") {
      emailErr.innerText = "This field is required"
      flag = 2
    } else if (!emailValue.match(/^[A-Za-z0-9_]{3,}@[A-Za-z]{3,}[.]{1}[A-Za-z.]{2,6}$/)) {
      emailErr.innerText = "Please enter a valid Email address"
    }


    if (flag == 1) {
      $.ajax({
        url: '/place-order',
        method: 'POST',
        data: {
          firstname: firstNameValue,
          lastName: lastNameValue,
          street: addressValue,
          apartment: appartmentValue,
          city: cityValue,
          state: stateValue,
          pincode: pincodeValue,
          mobile: phoneValue,
          email: emailValue,
          paymentMethod: paymentMethod

        },
        success: (response) => {
          if (response.codstatus) {
            location.replace("/success");
          } else if (response.paypal == true) {
            paypalPayment(response.total)

          } else {
            razorPay(response)
          }
        }
      })
    }
  }

  function paypalPayment(total) {
    paypal
      .Buttons({
        createOrder: function() {
          return fetch("/create-order", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                total: total,
                items: [{
                  id: 1,
                }]
              }),
            })
            .then(res => {
              if (res.ok) return res.json()
              return res.json().then(json => Promise.reject(json))
            })
            .then(({
              id
            }) => {
              return id
            })
            .catch(e => {
              console.error(e.error)
            })
        },
        onApprove: function(data, actions) {
          return actions.order.capture().then(() => {
            console.log(data);
            $.ajax({
              url: '/paypal-success',
              method: 'get',
              success: (response) => {
                if (response.status) {
                  location.replace('/success')
                } else {
                  Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong!',
                    footer: '<a href="/">Goto home page</a>'
                  })
                }
              }
            })
          })
        },
      })
      .render("#paypal")
  }

  function razorPay(order) {

    console.log(order);

    var options = {
      "key": "rzp_test_hCZeLQnLu26IGj", // Enter the Key ID generated from the Dashboard
      "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
      "currency": "INR",
      "name": "RIG-X-",
      "description": "Test Transaction",
      "image": "https://example.com/your_logo",
      "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
      "handler": function(response) {

        //success todo toast

        verifyPayment(response, order)
      },
      "prefill": {

      },
      "notes": {
        "address": "Razorpay Corporate Office"
      },
      "theme": {
        "color": "#3399cc"
      }
    };


    var rzp1 = new Razorpay(options);
    rzp1.open()
    rzp1.on('payment.failed', function(response) {


      // alert(response.error.code);
      // alert(response.error.description);
      // alert(response.error.source);
      // alert(response.error.step);
      // alert(response.error.reason);
      // alert(response.error.metadata.order_id);
      // alert(response.error.metadata.payment_id);
    });

  }

  function verifyPayment(payment, order) {
    $.ajax({
      url: '/verify-payment',
      data: {
        payment,
        order
      },
      method: 'POST',
      success: (response) => {
        if (response.status)
          location.replace("/success");
        else {
          //order Failed
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Something went wrong!',
            footer: '<a href="/">Goto home page</a>'
          })
        }
      }
    })
  }

  function autoFill(addressId) {
    const inputId = ['fname', 'lname', 'street', 'apartment', 'city', 'state', 'pincode', 'mobile', 'email']
    $.ajax({
      url: '/autofill-address/' + addressId,
      method: 'GET',
      success: (response) => {
        // console.log(response);
        let data = response[0].address

        inputId.forEach(e => {
          // console.log(data[e]);
          document.getElementById(e).value = data[e]
        })

      }
    })
  }


  function couponValidator(elem, total) {
    code = document.getElementById('code').value.trim()

    $.ajax({
      url: '/coupon-validator?code=' + code,
      method: 'get',
      success: (response) => {
        if (response.status == true) {

          $.ajax({
            url: '/coupon-verify?code=' + code,
            method: 'get',
            success: (response) => {
              if (response.status == true) {

                $.ajax({
                  url: '/apply-coupon?code=' + code,
                  method: 'get',
                  success: (response) => {
                    if (response.status == true) {
                      console.log('success3', response);
                      couponErr.style.color = '#19ff11'
                      couponErr.innerText = 'Coupon Applied Succesfully'
                      couponTotal.innerText = `₹ ${total-response.discountAmount}`
                    } else {
                      console.log('failed', response);
                      couponErr.style.color = '#ff0707'
                      couponErr.innerText = response.reason
                    }
                  }
                })

              } else {
                couponErr.style.color = '#ff0707'
                console.log('failed', response.reason);
                couponErr.innerText = response.reason

              }
            }
          })

        } else {
          couponErr.style.color = '#ff0707'
          couponErr.innerText = response.reason
          console.log('failed', response.reason);
        }
      }
    })

  }
</script>